/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #1B1B21;
 font-family: 'Montserrat', sans-serif;
}
body {
  color: #545051;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family:RusticLoveTattoo;
    src: url(../fonts/RusticLoveTattoo.otf);
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
a:hover { text-decoration: none }


.container {
	max-width: 1200px;
}


/* Header bar section start */


.hero-area {
	background: #fea63b;
	height: 760px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.hero-texts h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
}
.hero-texts p {
  font-size: 18px;
  color: #fff;
}
.subs-form-blk input {
  font-size: 15px;
  font-weight: 500;
  border: none;
  height: 53px;
  width: 100%;
  padding: 0 17px;
  border-radius: 3px;
}
.subs-form-blk {
  position: relative;
}
.subs-form-blk button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 124px;
  border: none;
  background: #fd5453;
  color: #fff;
  font-weight: 500;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.hero-texts {
  padding-right: 150px;
}
.subs-form {
  margin-top: 29px;
}

.hero-texts-wrp {
  position: relative;
}
.hero-texts {
  max-width: 600px;
}
.hero-texts-wrp .hero-img {
	position: absolute;
	right: -152px;
	top: -108px;
	max-width: 579px;
}

.header-bar-section {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9;
  padding: 20px 0;
}
.header-top-action-btn a {
  background: #fd5453;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  padding: 7px 43px;
  border-radius: 3px;
}
.header-top-action-btn {
  text-align: right;
}

.b-an-img {
  position: absolute;
  left: -36px;
  max-width: 174px;
  top: 207px;
  border-radius: 13px;
}
.b-an-img.b-an-2 {
  left: auto;
  right: 0;
  top: 42px;
}
.b-an-img.b-an-3 {
	left: auto;
	right: 131px;
	bottom: -149px;
	top: auto;
}




.bounce-animate {
  -webkit-animation-name: float-bob;
  animation-name: float-bob;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-webkit-keyframes bg-float-bob {
  0% {
    background-position-y: 30px;
  }
  50% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 30px;
  }
}

.bg-bounce-animate {
  -webkit-animation-name: bg-float-bob;
  animation-name: bg-float-bob;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.bounce-animate {
  -webkit-animation-name: float-bob;
  animation-name: float-bob;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.bounce-animate-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

.bounce-animate-2 {
  -webkit-animation-name: float-bob;
  animation-name: float-bob;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}



.single-cat-blk {
  -webkit-transition: .3s;
  transition: .3s;
}
.single-cat-blk:hover {
	
	-webkit-filter: drop-shadow(12px 6px 20px #dddddd73);
	
	filter: drop-shadow(12px 6px 20px #dddddd73);
}

/* Header bar section  END */


/* Category css start */


.section-title {
  text-align: center;
  margin-bottom: 59px;
}
.section-title h2 {
  font-size: 35px;
  font-weight: 700;
}
.single-cat-blk {
  text-align: center;
  background: #fffbf4;
  padding: 30px 0;
  border-radius: 10px;
}
.single-cat-blk h3 {
  font-size: 25px;
  color: #404041;
  font-weight: 600;
  margin: 0;
}
.cat-icon {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cat-icon span {
  width: 100px;
  height: 100px;
  background: #fff;
  display: ;
  line-height: 100px;
  border-radius: 50%;
}
.cat-icon span img {
  height: 46px;
}
.category-area {
  padding: 80px 0;
}
.cat-title {
  margin-top: 55px;
  padding: 0 40px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Category css end */


/* Features area css start*/

.ft-texts.n-rt-pd {
	padding-right: 0;
	padding-left: 100px;
}
.ft-img {
  position: relative;
}
.ft-img img.anm-1 {
	max-width: 247px !important;
	position: absolute;
	right: 43px;
	top: 0;
	-webkit-filter: drop-shadow(12px 6px 20px #ddd);
	filter: drop-shadow(12px 6px 20px #ddd);
}
.ft-texts h3 {
  font-size: 35px;
  color: #231f20;
  font-weight: 700;
}
.ft-texts p {
  font-size: 17px;
  color: #58595b;
  padding-right: ;
}
.ft-img img {
  width: 100%;
}
.ft-ico span {
  width: 80px;
  height: 80px;
  display: block;
  background: #ffeeea;
  text-align: center;
  line-height: 79px;
  border-radius: 50%;
}
.ft-ico {
  margin-bottom: 25px;
}

.ft-img.mgr {
  margin-left: -136px;
}
.ft-img.mgr img {
  max-width: 638px;
}
.ft-img.mrg--2 {
	margin-left: -100px;
}
.ft-texts {
	padding-right: 100px;
}
.footer-top-arae .hero-texts-wrp img {
	position: absolute;
	right: 41px;
	top: -77%;
	max-width: 520px;
	/* -webkit-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
}

.footer-top-arae .hero-texts-wrp img.rnd-img {
  width: 97px;
  -webkit-transform: unset;
  transform: unset;
  top: -161px;
  right: -96px;
}
.mobile-conten-blk {
	display: none;
}
.hero-area {
  position: relative;
}
.h-sp {
  position: absolute;
  left: 0;
  max-width: 116px;
  bottom: 70px;
}
/* Features area css end*/





/* Testimonial sldier start */



.testimonial-blk {
  max-width: 1000px;
  margin: 0 auto;
}
.s-test-inner {
	background: #fea73b;
	position: relative;
	height: 445px;
}
.test-author-main {
  background: #fcbe2d;
}
.testimonial-area {
	padding: 26px 0;
	padding-top: 58px;
}
.test-author-main {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 400px;
}
img {
}
.tst-auth-img img {
}
.single-tstmonial {
  position: relative;
}
.tst-content-blk {
	padding-right: 440px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 70px;
}
.tst-ratings {
	position: absolute;
	bottom: -14px;
	left: -62px;
}
.tst-text p {
	font-size: 27px;
	color: #fff;
	margin: 0;
	line-height: 38px;
	font-weight: 400;
}
.tst-text {
  height: 197px;
}
.tst-auth h3 {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}
.tst-starts li {
	list-style: none;
	display: inline-block;
	margin: 0 3px;
}
.tst-starts {
	background: #fff;
	padding: 16px 13px;
	display: inline-block;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 19px #2b2b2b7d;
	box-shadow: 0 0 19px #2b2b2b7d;
}


.header-top-action-btn a {
  -webkit-transition: .3s;
  transition: .3s;
}
.header-top-action-btn a:hover {
  background: #e24847;
}
.subs-form-blk button {
  -webkit-transition: .3s;
  transition: .3s;
}
.subs-form-blk button:hover {
  background: #e24847;
  cursor: pointer;
}

.tst-starts li i {
  font-size: 23px;
}
.tst-starts li i {
  color: #fcbe2d;
}
.tst-starts li span {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  margin-left: 13px;
}
.single-tstmonial {
	margin-top: 60px;
	margin-bottom: 38px;
}

.tst-auth-img {
  position: absolute;
  bottom: 0;
  max-width: 340px;
  left: 19px;
}
.s-test-inner {
	border-bottom-left-radius: 82px;
}

.testimonial-area {
  position: relative;
  margin-bottom: 100px;
  margin-top: 128px;
}
.testimonial-area:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: #f9edc9;
  content: "";
  z-index: -1;
}

.ft-top-sp-1 {
  position: absolute;
  top: 0;
  max-width: 280px;
  -webkit-transform: translateY(-59%);
  transform: translateY(-59%);
}
.ft-img.mrg--2 {
	padding-right: 110px;
}


.ft-img.lft-sp .anm-1 {
  right: auto;
  left: -53px;
  top: auto;
  bottom: 39px;
  max-width: 223px !important;
}


/* Testimonial sldier end */


/* Footer area css start */


.footer-area {
  background: #fff8e4;
  position: relative;
}
.ft-sp-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 91px;
}
.footer-social-icons {
  position: relative;
  text-align: center;
  padding: 66px 0;
}
.footer-sp-1 {
  position: absolute;
  right: -150px;
  top: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  max-width: 158px;
}
.footer-social-icons a {
  width: 30px;
  height: 30px;
  background: #fea63b;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
  margin: 0 10px;
}

.footer-social-icons a {
  -webkit-transition: .3s;
  transition: .3s;
}
.footer-social-icons a:hover {
  background: #fd5453;
}
/* Footer area css end */












